<% if !current_user.teams.empty? %>
<div class="team-info">
    <h1>Welcome, <%= current_user.username %></h1>
    <section class="team-container">
        <% @user_teams.each do |team_info| %>
            <ul class="team-list">
                <p class="team-standing">Team Record</p>
                <li><img src="<%= team_info.logo %>" width="30px" height="30px">
                <li class="team-name"><%= team_info.name %>
                <li class="team-record"><%= team_info.team_record %>
                <li class="team-news"><%= team_info.news %>
                <li><img class="team-img" src="https://res-4.cloudinary.com/ybmedia/image/upload/c_crop,h_840,w_1495,x_372,y_52/c_fill,f_auto,h_495,q_auto,w_880/v1/m/c/b/cb31f1bd10ca4ed99833b1c414fd12f9dd701b0c/13728929.jpg" width="786px" height="400px">
            </ul>
        <% end %>
    </section>
</div>
<% end %>